{% extends "base.html" %}

{% block title %} {{ name }} {% endblock %}

{% block body %}
	<div id="tabs">
	  <ul>
	    <li><a href="#tabs-1">Env</a></li>
	    <li><a href="#tabs-2">Process</a></li>
	    <li><a href="#tabs-3">File</a></li>
	    <li><a href="#tabs-4">Test</a></li>
	  </ul>
	  <div id="tabs-1">
			<table id="env" class="display" cellspacing="0" width="60%" style="white-space: nowrap;">
			        <thead>
			            <tr>
			                <th>Key</th>
			                <th>Value</th>
			            </tr>
			        </thead>
			</table>
	  </div>
	  
	  <div id="tabs-2">
				<table id="proc" class="display" cellspacing="0" width="60%" style="white-space: nowrap;">
				
				        <thead>
				            <tr>
				                <th>Name</th>
				                <th>User</th>
				            	<th>PID</th>
				                <th>Parent</th>
				                <th>Args</th>
				            </tr>
				        </thead>
				</table>
	  </div>
	  <div id="tabs-3">
	
      <div id="tree">
      	
      </div>
      
      </div>
		
	  <div id="tabs-4">
		<form>
		  	<div id="radioo">
		    	<input type="radio" value="hang" id="hang" name="radio"><label for="hang">Hang</label>
		    	<input type="radio" value="load" id="load" name="radio" checked="checked"><label for="load">Load</label>
		    	<input type="radio" value="fileio" id="fileio" name="radio"><label for="fileio">File IO</label>
		    	<td>&nbsp;</td>
		    	<input type="number" min="1" max="30" id="seconds" name="seconds" value="29"><label for="seconds">  Seconds  </label>
		    	<td>&nbsp;</td>
		    	<td>&nbsp;</td> <p><div style="width:20%" id="progressbar"></div></p>
		    	<p></p>
		  	</div>
		  	
		  	<input type="submit" class="ui-button ui-corner-all ui-widget" name="action" id="action" value="Go">
		</form>
			<td>&nbsp;</td>
			<p><button id="exitbutton" class="ui-button ui-widget">EXIT CONTAINER</button></p>
	  </div>
	
	</div>

	<!-- hide all this -->
	<div style="display: none">
	
	</div>
{% endblock %}


{% block jquery %}
	//$( "#tabs" ).hide();
	
    $( "#dialog" ).dialog();

    $( "#dialog-message" ).dialog({
        modal: true,
        buttons: {
          Ok: function() {
            $( "#tabs" ).show();
            $( this ).dialog( "close" );
          }
        }
      }); // end dialog
      
    $( "#exitbutton" ).click(function() {
		var xhr = $.get("verb", { action: 'kill' }, function(response, status, xhr) {
			$.growl({ title: status, message: response });
		}); // end get
    }); // end exitbutton

	$( "#action" ).click(function() {
		event.preventDefault();
	    var act = $("input[name='radio']:checked").val();
		var secs = $( "#seconds" ).val();
		data = { action: act, seconds: secs };
		var URL = document.URL;
	    $.growl({ title: "Requesting", message: "'"+act+"' for '"+secs+"' seconds" });
		 $.ajax({url: URL+'verb/', data, success: function(result){
        	$.growl({ title: 'success' , message: result });
    	}});
		
		var tick_interval = 1;
		var tick_increment = 100/secs;
		var tick_function = function() {
		    var value = $("#progressbar").progressbar("option", "value");
		    value += tick_increment;
		    $("#progressbar").progressbar("option", "value", value);
		    if (value <= 100) {
		        window.setTimeout(tick_function, tick_interval * 1000);
		        
		    } else {
		        $('#progressbar').progressbar('option', 'value', 0);
		    }
		};
		window.setTimeout(tick_function, tick_interval * 1000);

	}); // end action click
	
    $( "#progressbar" ).progressbar({
      value: 0
    });
    
    $("#progressbar").css({ 'background': 'LightRed' });
    $("#progressbar > div").css({ 'background': 'Orange' });    
    
    $( "#radioo" ).buttonset();

    $( "#tabs" ).tabs();

	$.growl({ title: "welcome", message: "a simple web app on openshift" });

{% endblock %}

{% block datatable %}
	$(document).ready(function() {
	    $('#env').DataTable( {
	    	"sDom": '<"top"i>rt<"bottom"lp><"clear">',
	        "processing": true,
	        "serverSide": true,
	        "ajax": "/env",
	        "scrollY":        "400px",
	        "scrollCollapse": false,
	        "paging":         false     ,
	        "bJQueryUI": true,
		    "bLengthChange": false,
		    "bFilter": false,
		    "bSort": false,
		    "bInfo": false,
		    "bAutoWidth": true,
		    "bProcessing": true,
		    "iDisplayLength": 20,	        
	    } );
	    
	    $('#proc').DataTable( {
	    	"sDom": '<"top"i>rt<"bottom"lp><"clear">',
	        "processing": true,
	        "serverSide": true,
	        "ajax": "/proc",
	        "scrollY":        "400px",
	        "scrollCollapse": false,
	        "paging":         false     ,
	        "bJQueryUI": true,
		    "bLengthChange": false,
		    "bFilter": false,
		    "bSort": false,
		    "bInfo": false,
		    "bAutoWidth": true,
		    "bProcessing": true,
		    "iDisplayLength": 20,	 
	    } );
	    
		$("#tree").jstree({ 
			'core' : {
			  'data' : {
			    'url' : 'file',
			    'data' : function (node) {
			      return { 'id' : node.id };
			    }
			  }
			 }
		});	    
	    
	} );
{% endblock %}

